.filter-form {
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  height: 100%;
}
.filter-header {
  display: flex;
  justify-content: space-between;
}
.filter-header button {
  text-decoration: underline;
  background-color: #fff;
  border: none;
  font-size: 16px;
}
.filter-datalist {
  writing-mode: vertical-lr;
}
.range-label {
  display: flex;
  justify-content: space-between;
}
