.filter-form {
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  height: 100%;
  overflow-y: scroll;
}
.filter-form::-webkit-scrollbar {
  width: 6px;
}
.filter-form::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.filter-header {
  display: flex;
  justify-content: space-between;
}
.filter-header button {
  text-decoration: underline;
  background-color: #fff;
  border: none;
  font-size: 16px;
}
.filter-datalist {
  writing-mode: vertical-lr;
}
.range-label {
  display: flex;
  justify-content: space-between;
}
