.product-image {
  width: inherit;
  height: 60%;
  /* border-top-right-radius: 5px;
  border-top-left-radius: 5px; */
  cursor: pointer;
}
span {
  margin-top: 0.3rem;
}
.product-detail {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 5px;
  margin-top: -25px;
}
.product-name {
  font-size: 14px;
}
.product-price {
  font-weight: 800;
}
.product-price::before {
  content: "\20B9";
}
.product-size {
  position: relative;
  top: -35px;
  right: -100px;
  background-color: yellow;
  padding: 0.25rem;
  font-weight: 800;
}
.actual-price {
  margin-left: 0.3rem;
  color: #666;
  text-decoration: line-through;
}
.actual-price::before {
  content: "\20B9";
}
.product-rating {
  position: relative;
  top: -2.1rem;
  background-color: #fff;
  left: -1.5rem;
  padding: 0.3rem;
  font-weight: 600;
  color: var(--item-color);
}
.btn-cart {
  /* background-color: var(--primary-color); */
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
  border: none;
  padding: 5px;
  color: #fff;
  font-weight: 600;
  margin-top: 0.5rem;
}
.btn-wishlist {
  position: relative;
  transform: translate(170px, -190px);
  font-size: 20px;
  border: none;
  background-color: transparent;
}
.btn-wishlist-icon {
  color: #333;
  border-radius: 50%;
  font-size: 1.5rem;
}
