.product-card-landscape-image {
  width: 40%;
}
.product-detail-landscape {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  gap: 0.6rem;
  flex-grow: 1;
}
.product-detail-landscape-price {
  font-size: 1.2rem;
  font-weight: 800;
}
.product-detail-landscape-price span {
  color: #666;
  margin-left: 0.5rem;
  text-decoration: line-through;
  font-size: 1rem;
  font-weight: 400;
}
.product-detail-landscape-price::before {
  content: "\20B9";
}
.product-detail-landscape-price span::before {
  content: "\20B9";
}
.product-detail-landscape-discount {
  color: #555;
  font-weight: 600;
}
.product-detail-landscape-quantity {
  display: flex;
  flex-direction: column;
}
.product-detail-landscape-quantity span button {
  padding: 0.3rem;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-weight: 800;
  font-size: 1rem;
}
.product-detail-landscape-quantity span input {
  width: 1.5rem;
  text-align: center;
  margin: 0 0.4rem;
  font-size: 1rem;
}
.product-detail-landscape-btn-remove {
  padding: 0.4rem;
  border: none;
  font-weight: 600;
  /* background-color: rgba(255, 0, 0, 0.9); */
  background-image: radial-gradient(
    circle 860px at 11.8% 33.5%,
    rgba(240, 30, 92, 1) 0%,
    rgba(244, 49, 74, 1) 30.5%,
    rgba(249, 75, 37, 1) 56.1%,
    rgba(250, 88, 19, 1) 75.6%,
    rgba(253, 102, 2, 1) 100.2%
  );
  color: #fff;
}
.product-detail-landscape-btn-wishlist {
  padding: 0.4rem;
  border: none;
  font-weight: 600;
  /* background-color: var(--ternary-color); */
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
  color: #fff;
}

@media screen and (max-width: 400px) {
  .product-detail-landscape {
    max-width: 300px;
    overflow-x: hidden;
  }
}
