.product-in-image {
  width: 40%;
  margin-right: 1rem;
  transition: 0.25s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.25s ease;
}
.product-in-image:hover {
  transform: scale(1.1) translate(-1rem);
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.product-in-container {
  margin: 10rem auto;
  display: flex;
  width: 60%;
}
.product-in-title {
  color: var(--primary-color);
}
.product-in-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.product-in-description {
  font-size: 1.5rem;
  color: #333;
}
.product-in-time {
  font-size: 1.2rem;
  font-weight: 500;
}
.product-in-price {
  font-size: 1.3rem;
  font-weight: 800;
}
.product-in-price::before {
  content: "\20B9";
}
.product-in-discounted-price {
  margin-left: 0.8rem;
  font-weight: 600;
  text-decoration: line-through;
  color: #666;
}
.product-in-discounted-price::before {
  content: "\20B9";
}
.product-in-rating {
  color: var(--item-color);
  font-size: 1.5rem;
  font-weight: 600;
}
.product-in-size {
  font-weight: 800;
  font-size: 1.6rem;
  color: #fb923c;
}
.product-in-availability {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--ternary-color);
}
.product-in-btn-cart {
  padding: 0.3rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
}
.product-in-btn-wishlist {
  padding: 0.3rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  /* background-color: #d97706; */
  background-image: radial-gradient(
    circle 860px at 11.8% 33.5%,
    rgba(240, 30, 92, 1) 0%,
    rgba(244, 49, 74, 1) 30.5%,
    rgba(249, 75, 37, 1) 56.1%,
    rgba(250, 88, 19, 1) 75.6%,
    rgba(253, 102, 2, 1) 100.2%
  );
}

@media screen and (max-width: 792px) {
  .product-in-container {
    flex-direction: column;
  }
  .product-in-image {
    width: 100%;
  }
  .product-in-title {
    margin-top: 2rem;
  }
}
