.wishlist-container {
  margin-top: 6rem;
}
.wishlist-heading {
  text-align: center;
}
.empty-wishlist {
  text-align: center;
  color: #aaa;
  font-size: 1.5rem;
  margin-top: 3rem;
}
.wishlist-product-listing {
  padding: 1rem;
  display: flex;
  width: 70%;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  list-style: none;
}
.wishlist-product-listing li {
  width: 200px;
  height: 320px;
  border: 1px solid #ddd;
}
