.landing-image-container {
  margin-top: 7rem;
  margin-bottom: 4rem;
}
.landing-image {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.category {
  margin: 8rem auto;
  text-align: center;
  width: 90%;
}
.landing-ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.landing-ul li {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: #fff;
  font-weight: 600;
  height: 200px;
  text-shadow: 1px 2px #666;
  list-style: none;
  margin: 1.2rem;
  border-radius: 5px;
  background-size: cover;
  cursor: pointer;
  text-transform: uppercase;
}
.landing-ul li:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
