aside {
  position: fixed;
  top: 67px;
  width: 250px;
  bottom: 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}
.product-card-li li {
  width: 200px;
  height: 320px;
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.listing {
  position: relative;
  padding: 2rem;
  width: 80%;
  left: 250px;
  margin-top: 4.48rem;
}
.product-count {
  font-weight: 400;
  color: #666;
  font-size: 14px;
  margin-left: 5px;
}
