nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: var(--secondary-color);
  padding: 10px;
  justify-content: space-around;
  z-index: 999;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}
.header-name {
  margin-top: 0.5rem;
}
.header-name-a {
  text-decoration: none;
  text-shadow: 3px 3px var(--ternary-color);
  letter-spacing: 1px;
  color: #fff;
}
.header-links a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}
.badge {
  content: attr(value);
  position: relative;
  font-size: 0.2rem;
  top: -1.2rem;
  padding: 0.3rem 0.5rem;
  right: 5px;
  background-color: red;
  border-radius: 50%;
  color: #fff;
}
.badge::after {
  content: attr(value);
}

.search-input {
  /* padding: 5px; */
  border: none;
  border-radius: 5px;
  width: 300px;
  font-size: 1rem;
  outline: none;
}
.search-input:focus::placeholder {
  color: transparent;
}

.header-links {
  display: flex;
  justify-content: space-between;
  padding: 3px;
}
.btn-header-login {
  margin: 0 5px;
  padding: 7px 20px;
  border: none;
  background-color: #15803d;
  border-radius: 8px;
}
.btn-header-logout {
  color: red;
  border: none;
  padding: 0.3rem 0.2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background-color: transparent;
  font-weight: bolder;
}
a .btn-header-login {
  color: #fff;
  font-size: 18px;
}
.link-wishlist {
  margin: 0 5px;
  padding: 5px 10px;
}
.link-wishlist-a {
  z-index: 99;
}

.link-cart {
  margin: 0 5px;
  padding: 5px 10px;
}
