nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: var(--secondary-color);
  padding: 10px;
  justify-content: space-around;
}
a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #000;
}
.badge {
  content: attr(value);
  position: relative;
  font-size: 5px;
  top: -22px;
  padding: 3px;
  right: 5px;
  background-color: red;
}
.badge::after {
  content: attr(value);
}
.header-name {
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 3px 3px var(--ternary-color);
}
.search-input {
  padding: 5px;
  border: none;
  border-radius: 20px;
  width: 300px;
  font-size: 16px;
  outline: none;
}
.search-input:focus::placeholder {
  color: transparent;
}

.header-links {
  display: flex;
  justify-content: space-between;
  padding: 3px;
}
.btn-header-login {
  margin: 0 5px;
  padding: 7px 20px;
  border: none;
  background-color: #15803d;
  border-radius: 8px;
}
a .btn-header-login {
  color: #fff;
  font-size: 18px;
}
.link-wishlist {
  margin: 0 5px;
  padding: 5px 10px;
}
.link-wishlist-a {
  z-index: 99;
}

.link-cart {
  margin: 0 5px;
  padding: 5px 10px;
}
