.signup-container {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 10rem auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1.2rem;
  gap: 0.6rem;
}

.signup-heading {
  text-align: center;
}
.signup-label {
  font-weight: 600;
  color: #222;
}
.signup-input {
  padding: 0.4rem;
  border: 1px solid #999;
  font-size: medium;
}
.signup-button {
  padding: 0.3rem;
  border: none;
  margin-top: 0.5rem;
  font-weight: 600;
  /* background-color: var(--primary-color); */
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
  color: #fff;
  font-size: 1rem;
}
.confirm-password {
  margin-top: -1.5rem;
}
.signup-link {
  font-size: 1rem;
  text-align: center;
  color: #666;
  margin-top: 0.5rem;
}
.signup-link:hover {
  color: #000;
}
.match-password {
  color: red;
  padding-bottom: 1rem;
}
