aside {
  position: fixed;
  top: 67px;
  width: 250px;
  bottom: 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
}
.product-card-li {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}
.product-card-li li {
  width: 200px;
  height: 320px;
  border: 2px solid #eee;
  /* background-color: aliceblue; */
  /* border-radius: 5px; */
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); */
}
.listing-heading {
  text-transform: uppercase;
}
.filter-mobile-view {
  display: none;
  /* top: -500rem; */
}
.listing {
  position: relative;
  padding: 2rem;
  width: 80%;
  left: 250px;
  margin-top: 4.48rem;
}
.empty-productlist {
  margin-top: 2rem;
  color: #999;
  font-size: 1.5rem;
}
.filter-mobile-view-btn {
  display: none;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  color: #fff;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
}

.product-count {
  font-weight: 400;
  color: #666;
  font-size: 14px;
  margin-left: 5px;
}
@media screen and (max-width: 796px) {
  aside {
    display: none;
  }
  .filter-mobile-view {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 9999;
  }
  .show-filter {
    display: block;
  }
  .product-card-li {
    justify-content: center;
  }
  .listing {
    left: 0;
    width: 100%;
  }
  .listing-heading {
    text-align: center;
  }

  .filter-mobile-view-btn {
    display: block;
    position: fixed;
    top: 4.2rem;
    right: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
  }
  .listing-heading {
    font-size: 0.9rem;
  }
}
